{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block css %}
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">Регистрация</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.pasword1.id_for_label }}">Пароль</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="password2">Подтверждение пароля</label>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
                <label class="label-color">Уже есть аккаунт?</label>
                <a href="{% url 'login_page' %}">Войти</a>
            </div>
        </div>
    </div>
{% endblock %}